<div class="bg-wrapper d-flex flex-row align-items-center">
    <div class="container d-flex flex-column justify-content-center rounded shadow mt-4">
        <h2>Заплановані прийоми</h2>
        <hr class="border">
        <div class="appointments-container row">
            <div class="appointment-card col-sm-12 col-md-6 col-lg-3" *ngFor="let appointment of appointments">
                <div class="card mb-1"
                    [style.border-color]="appointment?.doctor?.id === currentUserId ? 'salmon' : 'initial'">

                    <!-- Card Body for non-Receptionist -->
                    <div class="card-body" *ngIf="!isReceptionist">
                        <p class="card-text"><strong>Дата:</strong> {{ appointment?.visitTime | date:'medium' }}</p>
                        <ng-container *ngIf="appointment?.doctor?.id === currentUserId; else patientInfoNonReceptionist">
                            <p class="card-text"><strong>Пацієнт:</strong> {{ appointment.client.firstName }} {{ appointment.client.middleName }} {{ appointment.client.lastName }}</p>
                            <p class="card-text"><strong>ID Пацієнта:</strong> {{ appointment.client.id }}</p>
                        </ng-container>
                        <ng-template #patientInfoNonReceptionist>
                            <p class="card-text"><strong>Спеціаліст:</strong> {{ appointment.doctor.firstName }} {{ appointment.doctor.lastName }}</p>
                            <p class="card-text"><strong>Спеціальність:</strong> {{ appointment.doctor.specialty }}</p>
                            <p class="card-text"><strong>Вартість прийому:</strong> {{ appointment.doctor.totalServiceCost | currency:'UAH' }}</p>
                            <p class="card-text"><strong>ID Лікарні:</strong> {{ appointment.doctor.hospitalId }}</p>
                        </ng-template>
                    </div>

                    <!-- Card Body for Receptionist -->
                    <div class="card-body" *ngIf="isReceptionist">
                        <p class="card-text"><strong>Дата:</strong> {{ appointment.visitTime | date:'medium' }}</p>
                        <p class="card-text"><strong>Пацієнт:</strong> {{ appointment.client.firstName }} {{ appointment.client.middleName }} {{ appointment.client.lastName }}</p>
                        <p class="card-text"><strong>ID Пацієнта:</strong> {{ appointment.client.id }}</p>
                        <hr>
                        <p class="card-text"><strong>Спеціаліст:</strong> {{ appointment.doctor.firstName }} {{ appointment.doctor.middleName }} {{ appointment.doctor.lastName }}</p>
                        <p class="card-text"><strong>Спеціальність:</strong> {{ appointment.doctor.specialty }}</p>
                        <p class="card-text"><strong>Вартість прийому:</strong> {{ appointment.doctor.totalServiceCost | currency:'UAH' }}</p>
                        <p class="card-text"><strong>ID Лікарні:</strong> {{ appointment.doctor.hospitalId }}</p>
                    </div>
                </div>
            </div>
        </div>
        <mat-paginator class="border rounded" [length]="totalAppointments" [pageSize]="pageSize" [pageIndex]="pageIndex"
            (page)="fetchAppointments($event)">
        </mat-paginator>
    </div>
</div>
