<h2 mat-dialog-title>Призначити співробітника</h2>
<mat-dialog-content>
	<form [formGroup]="assignForm" (ngSubmit)="onSubmit()">
		<mat-form-field appearance="fill">
			<mat-label>Лікарня</mat-label>
			<mat-select formControlName="hospitalId">
				<mat-option
					*ngFor="let hospital of hospitals"
					[value]="hospital.id"
				>
					{{ hospital.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Роль</mat-label>
			<mat-select formControlName="role">
				<mat-option *ngFor="let role of roles" [value]="role">{{
					role
				}}</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field
			*ngIf="
				assignForm.get('role') &&
				assignForm.get('role')!.value! === 'Doctor'
			"
			appearance="fill"
		>
			<mat-label>Спеціальність</mat-label>
			<input matInput formControlName="specialty" />
		</mat-form-field>
		<mat-form-field
			*ngIf="
				assignForm.get('role') &&
				assignForm.get('role')!.value! === 'Doctor'
			"
			appearance="fill"
		>
			<mat-label>Ціна за прийом</mat-label>
			<input matInput type="number" formControlName="doctorPrice" />
		</mat-form-field>
		<div class="d-flex flex-row gap-2" mat-dialog-actions>
			<button
				class="btn btn-sm btn-secondary"
				mat-button
				mat-dialog-close
			>
				Скасувати
			</button>
			<button
				class="btn btn-sm btn-primary"
				mat-raised-button
				color="primary"
				type="submit"
			>
				Призначити
			</button>
		</div>
	</form>
</mat-dialog-content>
