p {
    font-family: arial;
}

.card-container {
    width: 1145px;
    height: 540px;
}

.view-text-header {
    font-size: 30px;
    font-weight: 600;
}

.form {
    width: 50vw;
}

.form-text {
    font-size: 20px;
}

.form-control {
    width: 19vw;
}

.validation-text {
    font-size: 20px;
    color: red;
}

.view-card {
    background-color: #92A9BD;
    width: 13vw;
    height: 52vh;
    border-radius: 10px;
}

.btn {
    border-radius: 10px;
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    background-color: rgb(211, 222, 220);
}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}