<div class="d-flex position-fixed-top align-items-center flex-column gap-2">
    <div class="d-flex flex-row justify-content-center align-items-center unselectable">
        <p class="view-text-header" *ngIf="fullName; else unset">
            Mark appointment for {{fullName}}
        </p>
        <ng-template #unset>
            <p class="view-text-header">Mark appointment</p>
        </ng-template>
    </div>
    <div class="d-flex form flex-column justify-content-center align-items-center unselectable gap-4">
        <div class="form-group">
            <label class="form-text">Diagnosis: </label>
            <input class="form-control form-text" autocomplete="off" #diagnosis name="diagnosis">
        </div>
        <button class="btn" (click)="markAsVisited(diagnosis.value)">Submit</button>
    </div>
</div>