.navbar-brand {
    color: #7C99AC;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
}

.navbar-brand:visited {
    color: #7C99AC;
    font-style: normal;
}

.plus-icon {
    fill: #b14141;
    width: 34px;
    height: 34px;
}

.clock {
    color: #92A9BD;
    font-size: 28px;
    font-family: arial;
    font-style: normal;
    font-weight: 800;
}

.main-container {
    border-radius: 10px;
    height: 78vh;
}
